<p id="notice"><%= notice %></p>

<h1>Thursdays</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Link</th>
      <th>Prof</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thursdays.each do |thursday| %>
      <tr>
        <td><%= thursday.from.strftime("%I:%M%p") %></td>
        <td><%= thursday.to.strftime("%I:%M%p") %></td>
        <td><%= thursday.Subject %></td>
        <td><%= link_to thursday.link.split("/")[4], thursday.link, target:"_blank" %></td>
        <td><%= thursday.Prof %></td>
        <td><%= link_to 'Show', thursday %></td>
        <td><%= link_to 'Edit', edit_thursday_path(thursday) %></td>
        <td><%= link_to 'Destroy', thursday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thursday', new_thursday_path %>
