<p id="notice"><%= notice %></p>

<h1>Mondays</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Link</th>
      <th>Prof</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mondays.each do |monday| %>
      <tr>
        <td><%= monday.from.strftime("%I:%M%p") %></td>
        <td><%= monday.to.strftime("%I:%M%p") %></td>
        <td><%= monday.Subject %></td>
        <td><%= link_to monday.link.split("/")[4], monday.link, target:"_blank" %></td>
        <td><%= monday.Prof %></td>
        <td><%= link_to 'Show', monday %></td>
        <td><%= link_to 'Edit', edit_monday_path(monday) %></td>
        <td><%= link_to 'Destroy', monday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monday', new_monday_path %>
